* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 1rem 10% 0;
    background-image: url(img/fon.jpg);
    font-family:serif;
}

header {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0.5rem 2rem 4rem;
    background-image: url(img/he.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: -1.5rem;
    border-radius: 1rem;
}

header img {
    height: 9rem;
}   

main {
    background-image: url(img/ma.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: top;
    flex: 1;
    flex-direction: column;
    width: 100%;
    display: flex;
    padding: 1rem 2rem 1rem;
    gap: 1rem;
    color: rgb(235, 235, 214);
    overflow: hidden;
}

.jokes_container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    overflow: auto;
}
.jokes_container::-webkit-scrollbar {
    width: 1-px;
}

.jokes_container::-webkit-scrollbar-thumb {
    background-color: rgb(235, 235, 214);
    border-radius: 1rem;
}

.joke {
    padding: 1rem 1rem 0.25rem;
    margin: 1rem;
    background-color:rgba(235, 235, 214, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: rgb(215, 83, 133);
    /* height: 40%; */
}

.joke_footer {
    display: flex;
    justify-content: space-between;
}

.joke_likes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.joke_btn {
    background: 0;
    border: 0;
    color: rgb(215, 83, 133);
    cursor: pointer;
}
